<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Reportes</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                  <div class="inner">
                    <h3> <%= sol_si.length %>  </h3>
    
                    <p>Total de Soluciones</p>
                  </div>
                  <div class="icon">
                    <i class="far fa-check-circle"></i>
                  </div>
                </div>
              </div>
            
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                  <div class="inner">
                    <h3> <%= sol_no.length %>  </h3>
    
                    <p>Total no solucionadas</p>
                  </div>
                  <div class="icon">
                    <i class="fas fa-backspace"></i>
                  </div>
                </div>
              </div>
        </div>
      </div><!-- /.container-fluid -->
     
    </section>
    <!-- /.content -->
    

    <section class="content">
      <div class="container-fluid">
          <div class="card card-primary card-outline">
              <div class="card-header">
                  <h5 class="mb-0 text-center">
                      <strong>Tabla de Reportes </strong>
                  </h5>
              </div> <!-- /.card-body -->
              <% if (reportes.length> 0) {%>
              <div class="row table-responsive">
                  <div class="col-12 mx-auto ">
                      
                      
                      <table class="table" style="text-align: center;">
                          
                          <thead>
                              <tr>
                                  <th>Nº</th>
                                  <th>Usuario</th>
                                  <th>Contrato</th>
                                  <th>Requerimiento</th>
                                  <th>Solucionado</th>
                                  <th>Observacion</th>
                                  <th>Fecha de creacion</th>
                              </tr>
                          </thead>
                          <% reportes.forEach(reporte=> {%>
                          <tbody>
                              
                              <tr >
                                  <th scope="row">
                                      <%= reporte.reporte_id %>
                                  </th>
                                  <td>
                                      <%= reporte.cliente.nombre %>
                                  </td>
                                  <td>
                                    <%= reporte.contrato.contrato_id %>
                                </td>
                                <td>
                                    <%= reporte.requerimiento %>
                                </td>
                                <td>
                                    <% if (reporte.solucionado == true) { %>
                                    <span class="badge rounded-pill bg-success">Si</span>
                                    <% } else {%>
                                    <span class="badge rounded-pill bg-danger">No</span>
                                    <%} %>
                                </td>
                                <td>
                                    <%= reporte.motivo %>
                                </td>
                                <td>
                                    <% moment.locale('es'); %>
                                    <% const fechacreacion = reporte.fechacreacion %>
                                    <%= moment(fechacreacion).format('DD-MM-YYYY') %>
                                </td>
                              </tr>
                          <% }); %>
                          </tbody>
                      </table>
                      <!-- /.card -->
                      <%} else {%>
                          <div class="card-body table-responsive p-0">
                              <table class="table table-hover text-nowrap">
                                  <thead>
                                      <tr>
                                        <th>Nº</th>
                                        <th>Usuario</th>
                                        <th>Contrato</th>
                                        <th>Requerimiento</th>
                                        <th>Solucionado</th>
                                        <th>Observacion</th>
                                        <th>Fecha de creacion</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                     
                                  </tbody>
                              </table>
                              <div style="width:500px; margin: 0 auto">
                                <div class="row">
                                    <div class="col align-self-center">
                                        <div class="alert alert-primary d-flex align-items-center" role="alert">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:" style="margin-right: 10px;"><use xlink:href="#info-fill"/>
                                                <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                                  </symbol></svg>
                                            <div>
                                              No hay datos insertados
                                            </div>
                                          </div>
                                    </div>                                   
                                </div>
                            </div>
                          </div>
  
                         
                  </div>
                  <!-- /.row -->


              </div>
              <%} %>
          </div>
      </div><!-- /.container-fluid -->
  </section>

  </div>